<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" threshold="debug"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 输出到控制台 -->
	<appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c:%L [%t] %M %n%-5p: %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>


	<!-- 将级别为DEBUG的信息输出 -->
	<appender name="LOG.DEBUG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:\\comet.log " />
		<param name="Threshold" value="DEBUG" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] %c {%F:%L} (%t) - %m%n" />
		</layout>
	</appender>

	<category name="freemarker.cache">
		<level value="ERROR" />
	</category>

	<category name="org.apache">
		<level value="ERROR" />
	</category>
	<category name="org.quartz">
		<level value="ERROR" />
	</category>
	<category name="net.sf">
		<level value="ERROR" />
	</category>
	<category name="com.opensymphony">
		<level value="ERROR" />
	</category>
	<category name="dwr.engine">
		<level value="ERROR" />
	</category>
	<category name="org.directwebremoting">
		<level value="ERROR" />
	</category>
	<category name="com.lmsoft.cornu.webtrade.communication">
		<level value="DEBUG" />
	</category>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="LOG.Console" />
		<appender-ref ref="LOG.DEBUG" />
	</root>
</log4j:configuration>
